/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success {
  text-align: center !important;
  background-color: rgb(70, 70, 170);
  color: white;
}

.warn {
  background-color: #f74f43;
  color: white;
}

.center-notification > .mat-simple-snackbar {
  justify-content: center;
}

.text-center {
  text-align: center;
}
