<div class="justify-content-center header">
  <h4 class="mt-2">
    *Se mantendran actualizadas las restricciones conforme las autoridades del
    gobierno lo indiquen*
  </h4>
</div>
<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <mat-icon class="logo" svgIcon="logo"></mat-icon>
    </div>
  </div>
  <div class="text-center mt-3 mb-3">
    <button mat-raised-button color="primary" (click)="onNewSubscriber()">
      Suscribirse a notificaciones por correo
    </button>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <h1>Consulta de restricción vehicular sanitaria</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-9 text-center">
      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup" state="plate">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel
              ><div class="row justify-content-center">
                <label class="col-md-8 step-label"
                  >Ingrese el último dígito de la placa del vehículo</label
                >
              </div></ng-template
            >
            <mat-form-field class="col-md-4 col-sm-6 col-9" color="primary">
              <mat-label>Último dígito de la placa</mat-label>
              <input matInput formControlName="plate" required />
            </mat-form-field>
            <div>
              <button
                *ngIf="this.firstFormGroup.get('plate').invalid"
                mat-icon-button
                matStepperNext
                color="primary"
                disabled
              >
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
              <button
                *ngIf="!this.firstFormGroup.get('plate').invalid"
                mat-icon-button
                matStepperNext
                color="primary"
              >
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" state="selectedDate">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel
              ><div class="row justify-content-center">
                <label class="col-md-8 step-label"
                  >Seleccione la fecha en la que desea conocer la restriccion
                  vigente</label
                >
              </div></ng-template
            >
            <mat-form-field class="col-lg-5 col-md-6 col-sm-8" color="primary">
              <mat-label>Presione el calendario a la derecha</mat-label>
              <input
                matInput
                formControlName="selectedDate"
                [matDatepicker]="picker"
                [max]="maxDate"
                [min]="minDate"
                disabled
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                touchUi
                disabled="false"
                [startAt]="startDate"
              ></mat-datepicker>
            </mat-form-field>
            <div>
              <button mat-icon-button matStepperPrevious color="primary">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
              <button
                mat-icon-button
                matStepperNext
                (click)="submitConsult()"
                color="primary"
              >
                <mat-icon>check</mat-icon>
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step state="refresh">
          <ng-template matStepLabel
            ><div class="row justify-content-center">
              <label class="col-md-8 step-label">Listo</label>
            </div></ng-template
          >
          <div>
            <button mat-icon-button matStepperPrevious color="primary">
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="stepper.reset(); resetRestriction()"
              color="primary"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-step>
        <ng-template matStepperIcon="plate">
          <mat-icon>drive_eta</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="selectedDate">
          <mat-icon>today</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="refresh">
          <mat-icon>refresh</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </div>
  </div>
  <mat-divider *ngIf="infoLoaded"></mat-divider>
  <div *ngIf="selectedDate" class="text-center selectedDateTitle mt-4">
    <h1>
      {{
        selectedDate.toLocaleDateString("es-US", {
          month: "long",
          day: "numeric",
          weekday: "long"
        })
      }}
    </h1>
  </div>
  <div
    id="restrictions"
    *ngIf="infoLoaded; else loadingSpinner"
    class="row justify-content-center restrictions-container"
  >
    <div
      class="col row justify-content-center"
      *ngIf="!noSchedule; else hasNoSchedule"
    >
      <div
        *ngIf="dayTimeRestriction; else noDayTimeRestriction"
        class="col-md-5 col-10 text-center mt-3 ml-2 justify-content-center"
      >
        <mat-card>
          <div class="text-center">
            <h1
              *ngIf="!consultedRestriction.dayCondition && canTravelDay"
              class="allowed"
            >
              Hay restricción diurna
            </h1>
            <h1
              *ngIf="consultedRestriction.dayCondition && !canTravelDay"
              class="fatal"
            >
              Hay restricción diurna
            </h1>
            <h1
              *ngIf="consultedRestriction.dayCondition && canTravelDay"
              class="warning"
            >
              Hay restricción diurna
            </h1>
            <h1
              *ngIf="!consultedRestriction.dayCondition && !canTravelDay"
              class="fatal"
            >
              Hay restricción diurna
            </h1>
          </div>
          <div *ngIf="canTravelDay; else canNotTravelDay" class="text-center">
            <div *ngIf="consultedRestriction.dayCondition; else noDayCondition">
              <mat-icon class="logo" svgIcon="warning"></mat-icon>
            </div>
            <ng-template #noDayCondition>
              <div class="text-center">
                <mat-icon class="logo" svgIcon="allowed"></mat-icon>
              </div>
            </ng-template>
          </div>
          <ng-template #canNotTravelDay>
            <div class="text-center">
              <mat-icon class="logo" svgIcon="fatal"></mat-icon>
            </div>
          </ng-template>
          <div class="text-center">
            <h3
              *ngIf="!consultedRestriction.dayCondition && canTravelDay"
              class="allowed"
            >
              {{ dayRestrictionMessage }}
            </h3>
            <h3
              *ngIf="consultedRestriction.dayCondition && !canTravelDay"
              class="fatal"
            >
              {{ dayRestrictionMessage }}
            </h3>
            <h3
              *ngIf="consultedRestriction.dayCondition && canTravelDay"
              class="warning"
            >
              {{ dayRestrictionMessage }}
            </h3>
            <h3
              *ngIf="!consultedRestriction.dayCondition && !canTravelDay"
              class="fatal"
            >
              {{ dayRestrictionMessage }}
            </h3>
          </div>
        </mat-card>
      </div>
      <ng-template #noDayTimeRestriction>
        <div class="col-md-5 col-10 text-center mt-3 ml-2">
          <mat-card>
            <div class="text-center">
              <h1 class="allowed">No hay restricción diurna</h1>
            </div>
            <div class="text-center">
              <mat-icon class="logo" svgIcon="allowed"></mat-icon>
            </div>
            <div class="text-center">
              <h3 class="allowed">{{ noDayRestrictionMessage }}</h3>
            </div>
          </mat-card>
        </div>
      </ng-template>
      <div
        *ngIf="nightTimeRestriction; else noNightTimeRestriction"
        class="col-md-5 col-10 text-center mt-3 ml-2 justify-content-center"
      >
        <mat-card>
          <div class="text-center">
            <h1
              *ngIf="!consultedRestriction.nightCondition && canTravelNight"
              class="allowed"
            >
              Hay restriccion nocturna
            </h1>
            <h1
              *ngIf="consultedRestriction.nightCondition && !canTravelNight"
              class="fatal"
            >
              Hay restriccion nocturna
            </h1>
            <h1
              *ngIf="consultedRestriction.nightCondition && canTravelNight"
              class="warning"
            >
              Hay restriccion nocturna
            </h1>
            <h1
              *ngIf="!consultedRestriction.nightCondition && !canTravelNight"
              class="fatal"
            >
              Hay restriccion nocturna
            </h1>
          </div>
          <div
            *ngIf="canTravelNight; else canNotTravelNight"
            class="text-center"
          >
            <div
              *ngIf="consultedRestriction.nightCondition; else noNightCondition"
            >
              <mat-icon class="logo" svgIcon="warning"></mat-icon>
            </div>
            <ng-template #noNightCondition>
              <div class="text-center">
                <mat-icon class="logo" svgIcon="allowed"></mat-icon>
              </div>
            </ng-template>
          </div>
          <ng-template #canNotTravelNight>
            <div class="text-center">
              <mat-icon class="logo" svgIcon="fatal"></mat-icon>
            </div>
          </ng-template>
          <div class="text-center">
            <h3
              *ngIf="!consultedRestriction.nightCondition && canTravelNight"
              class="allowed"
            >
              {{ nightRestrictionMessage }}
            </h3>
            <h3
              *ngIf="consultedRestriction.nightCondition && !canTravelNight"
              class="fatal"
            >
              {{ nightRestrictionMessage }}
            </h3>
            <h3
              *ngIf="consultedRestriction.nightCondition && canTravelNight"
              class="warning"
            >
              {{ nightRestrictionMessage }}
            </h3>
            <h3
              *ngIf="!consultedRestriction.nightCondition && !canTravelNight"
              class="fatal"
            >
              {{ nightRestrictionMessage }}
            </h3>
          </div>
        </mat-card>
      </div>
      <ng-template #noNightTimeRestriction>
        <div class="col-md-5 col-10 text-center mt-3 ml-2">
          <mat-card>
            <div class="text-center">
              <h1 class="allowed">No hay restricción nocturna</h1>
            </div>
            <div class="text-center">
              <mat-icon class="logo" svgIcon="allowed"></mat-icon>
            </div>
            <div class="text-center">
              <h3 class="allowed">{{ noNightRestrictionMessage }}</h3>
            </div>
          </mat-card>
        </div>
      </ng-template>
      <div class="row justify-content-center mt-3">
        <h5 class="col-sm-6 col-10 text-center">
          La restricción diurna es desde una hora de la mañana de un día hasta
          una hora de la noche del mismo día.
        </h5>
      </div>
      <div class="row justify-content-center mt-3">
        <h5 class="col-sm-6 col-10 text-center">
          La restricción nocturna es desde una hora de la noche de un día hasta
          una hora de la mañana del día siguiente.
        </h5>
      </div>
    </div>
    <ng-template #hasNoSchedule>
      <div class="col row justify-content-center">
        <div
          *ngIf="dayTimeRestriction; else noDayRestriction"
          class="col-md-5 col-10 text-center mt-3 ml-2 justify-content-center"
        >
          <mat-card>
            <div class="text-center">
              <h1
                *ngIf="!consultedRestriction.dayCondition && canTravelDay"
                class="allowed"
              >
                Hay restricción todo el día
              </h1>
              <h1
                *ngIf="consultedRestriction.dayCondition && !canTravelDay"
                class="fatal"
              >
                Hay restricción todo el día
              </h1>
              <h1
                *ngIf="consultedRestriction.dayCondition && canTravelDay"
                class="warning"
              >
                Hay restricción todo el día
              </h1>
              <h1
                *ngIf="!consultedRestriction.dayCondition && !canTravelDay"
                class="fatal"
              >
                Hay restricción todo el día
              </h1>
            </div>
            <div *ngIf="canTravelDay; else canNotTravelDay" class="text-center">
              <div
                *ngIf="consultedRestriction.dayCondition; else noDayCondition"
              >
                <mat-icon class="logo" svgIcon="warning"></mat-icon>
              </div>
              <ng-template #noDayCondition>
                <div class="text-center">
                  <mat-icon class="logo" svgIcon="allowed"></mat-icon>
                </div>
              </ng-template>
            </div>
            <ng-template #canNotTravelDay>
              <div class="text-center">
                <mat-icon class="logo" svgIcon="fatal"></mat-icon>
              </div>
            </ng-template>
            <div class="text-center">
              <h3
                *ngIf="!consultedRestriction.dayCondition && canTravelDay"
                class="allowed"
              >
                {{ dayRestrictionMessage }}
              </h3>
              <h3
                *ngIf="consultedRestriction.dayCondition && !canTravelDay"
                class="fatal"
              >
                {{ dayRestrictionMessage }}
              </h3>
              <h3
                *ngIf="consultedRestriction.dayCondition && canTravelDay"
                class="warning"
              >
                {{ dayRestrictionMessage }}
              </h3>
              <h3
                *ngIf="!consultedRestriction.dayCondition && !canTravelDay"
                class="fatal"
              >
                {{ dayRestrictionMessage }}
              </h3>
            </div>
          </mat-card>
        </div>
        <ng-template #noDayRestriction>
          <div
            class="col-md-5 col-10 text-center mt-3 ml-2 justify-content-center"
          >
            <mat-card>
              <div class="text-center">
                <h1 class="allowed">No hay restricción en todo el día</h1>
              </div>
              <div class="text-center">
                <mat-icon class="logo" svgIcon="allowed"></mat-icon>
              </div>
              <div class="text-center">
                <h3 class="allowed">
                  Su vehículo puede circular durante todo el día.
                </h3>
              </div>
            </mat-card>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingSpinner>
    <div class="row justify-content-center">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </ng-template>
</div>
<mat-divider></mat-divider>
<div id="subscription" class="row justify-content-center mt-3">
  <div class="col-10 text-center">
    <mat-card class="mt-3 mb-3">
      <h2 class="text-center blinking">
        Sucribirse a notificaciones por correo
      </h2>
      <label class="text-center instructions-label"
        >Ingresa tu dirección de correo y el número de placa de tu vehículo para
        recibir una notificación diaria indicándote si tu vehículo puede
        circular en ese día o no, y en qué horario puede hacerlo.</label
      >
    </mat-card>
  </div>
  <form [formGroup]="plateSubscriberForm" class="col-10">
    <mat-grid-list cols="1" rowHeight="15vh">
      <mat-grid-tile>
        <div class="text-center">
          <mat-form-field color="primary" class="form-element-email">
            <input
              formControlName="email"
              matInput
              placeholder="Correo electrónico"
            />
            <mat-error>Dirección inválida</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-center">
          <mat-form-field color="primary" class="form-element-plate">
            <input
              formControlName="plate"
              matInput
              placeholder="Número de placa"
            />
            <mat-error>Número de placa inválido</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div class="row justify-content-center mt-3 mb-3">
  <div class="col-6 text-center">
    <button mat-raised-button color="warn" (click)="onClear()">
      Borrar todo
    </button>
  </div>
  <div class="col-6 text-center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="plateSubscriberForm.invalid"
      (click)="onSubmit()"
    >
      Suscribirse
    </button>
  </div>
</div>
<div class="row justify-content-center">
  <label class="col-10 text-center spam-label mt-3 mb-3 blinking"
    >Si te registras y no te llega nuestra notificación por correo a tu bandeja
    de entrada de parte de Morpho Techco cada día, revisa tu carpeta de spam 😊</label
  >
</div>
<mat-divider></mat-divider>
<div class="justify-content-center credits mt-4">
  <h4 class="mt-1">
    Hecho por: <span></span
    ><a href="https://www.linkedin.com/in/gustavo-hern%C3%A1ndez-102910111/"
      >Gustavo Hernández G.</a
    ><span></span> 👨🏻‍💻🇨🇷
  </h4>
  <h4>
    <a href="https://covid19.presidencia.go.cr/restriccion-vehicular/"
      >Comunicado oficial</a
    >
  </h4>
</div>
