.logo {
  padding: 3% 1% 1% 1%;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.container-fluid {
  padding: 1%;
  animation: loadTransition 0.75s;
}

@keyframes loadTransition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.step-label {
  width: 28vw;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.85em;
}

.restrictions-container {
  animation: loadTransition 0.75s;
  margin-top: 3%;
  margin-bottom: 3%;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.selectedDateTitle {
  color: #155dbf;
}

h3 {
  text-transform: uppercase;
}

.allowed {
  color: rgba(53, 202, 53, 0.925);
}

.warning {
  color: rgb(218, 194, 59);
}

.fatal {
  color: rgb(236, 52, 52);
}

.credits {
  width: 100%;
  color: black;
  text-align: center;
}

.header {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #155dbf;
}

a {
  text-decoration: underline;
}

.button-row {
  display: flex;
}

.normal-form {
  width: 100%;
}

.form-element-email {
  width: 18em;
}

.form-element-plate {
  width: 10rem;
}

.instructions-label {
  font-weight: bold;
}

.blinking {
  animation: blinkingText 1.5s infinite;
}
@keyframes blinkingText {
  0% {
    color: rgb(236, 52, 52);
  }
  49% {
    color: #155dbf;
  }
  50% {
    color: rgb(236, 52, 52);
  }
  99% {
    color: #155dbf;
  }
  100% {
    color: rgb(236, 52, 52);
  }
}
